          <tr>
              <td>{$ad->getId()}</td>
              <td>{$ad->getTitle()|escape:'htmlall'}</td>
              <td>{$ad->getDesc()|escape:'htmlall'}</td>
              <td>{$ad->getPrice()|escape:'htmlall'}</td>
              <td>
              
              <a class="edit" data-toggle="tooltip" title="Редактировать объявление" 
                  {* href=./{$current_php_script}?edit=1&id={$ad->getId()} *}
                 ><span class='btn glyphicon glyphicon-edit'></span></a>
              
              <a class="delete " data-toggle="tooltip" title="Удалить объявление" 
                 {*href={$site_dir}{$current_php_script}?del=1&id={$ad->getId()}*}
                  ><span class='btn glyphicon glyphicon-remove-circle'></span></a>
              
              
              </td>
          </tr>